ratis.shell.alluxio-master.peers=localhost:19200,localhost:19201,localhost:19202
ratis.shell.alluxio-jobmaster.peers=localhost:20003,localhost:20013,localhost:20023
ratis.shell.ozone-om.peers=localhost:9872,localhost:19872,localhost:29872
ratis.shell.ozone-scm.peers=localhost:9894,localhost:19894,localhost:29894